* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 18px;
  background-color: beige;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
header {
  /* display: flex; */
  width: 100%;
  background-color: rgb(190, 190, 161);
  position: fixed;
  top: 0px;
  right: 0;
}
nav {
  width: 100%;
  text-align: center;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
nav li {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}
a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}
nav li:hover {
  background-color: rgb(170, 253, 46);
}
main.home-main {
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding-top: 13rem;
  /* padding-top: 14rem; */
}
.one {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  border-radius: 50%;
  max-width: 170px;
  justify-content: center;
  /* margin: 0 auto; */
}
.check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one p {
  margin: 1rem;
}
.about {
  display: flex;
  flex-direction: column;
}

.icon {
  margin: 2rem;
  display: flex;
}
.new {
  text-align: center;
}
.goal
 {
  text-align: center;
  padding: 0.5rem;
}
aside {
  padding: 1rem;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skills p {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: rgb(173, 173, 68);
  border-radius: 10px;
  margin-right: 1rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
}
.education,
.job,
.hobby {
  margin-bottom: 2rem;
}
.education p,
.job p,
.hobby p {
  padding: 0.5rem;
}
button.project {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 10px;
  border: 0;
  background-color: gainsboro;
}
.point li{
text-align: start;
padding: 1rem;
}
ul.point{
padding: 2rem;
text-align: start;
}
button.project:hover {
  background-color: rgb(196, 196, 96);
}
button.project a:hover {
  color: white;
}
h3 {
  margin-bottom: 0.2rem;
}

.project-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9rem;
}

.calculator-wrapper {
  max-width: 285px;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input.display {
  font-size: 30px;
  background-color: transparent;
  border: 0;

  color: white;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-inline: 1rem;
  margin: 0.5rem; 
   outline: 0;
}
input.display:focus{
border: 1px solid black;
border-radius: 10px;

}
.keys {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.keys button,.key td{
  border: 0;
  padding: 1.2rem;
  border-radius: 50%;
  width: 57px;
  background-color: rgb(187, 184, 184);
}

.keys .row,
.keys .first-row,
.keys .second-row,
.keys .third-row,
.keys .fourth-row {
  margin-bottom: 0.7rem;
  margin-right: 0.5rem;
}
.keys .first-row,
.keys .second-row,
.keys .third-row,
.keys .fourth-row,
.key .first-row,
.key .second-row,
.key .third-row,
.key .fourth-row {
  background-color: rgb(49, 48, 48);
  color: white;
}
.keys .zero {
  width: 120px;
  border-radius: 29px;
  text-align: start;
}
.keys .orange, .key .orange{
  background-color: orange;
  color: white;
  margin-right: 0;
}
.orang,.key .orang {
  background-color: orange;
  color: white;
  margin-right: 0.2rem;
}
.login-wrapper,
.register-wrapper,
.contact-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding-top: 14rem;
}
.login-main,
.register-main,
.contact-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
   background-color: rgb(105, 105, 39);
  /* margin: 2rem; */
  min-width: 350px;

}
.register-main,
.contact-main{
  margin-top: 9rem;
margin-bottom: 2rem;
}

.contact-main input,
textarea,
.login-main input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.contact-main input:focus,
.contact-main select:focus,
.contact-main textarea :focus,
.login-main input:focus,
.login-submit:focus,
.register-main input:focus,
.register-main select:focus {
  border: 1px solid black;
  border-radius: 10px;

}
.contact-main select {
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem 0 1rem 0;
}
.register-main div {
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-main input,
.register-main select {
  width: 49%;
  padding: 0.6rem;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.register-main label {
  margin-right: 0.5rem;
}
.register-submit {
  padding: 0.6rem 0 0.6rem 0;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background-color: rgb(170, 253, 46);
}
.login-submit {
  width: 50%;
  margin: 0 auto;
  padding: 0.6rem 0 0.6rem 0;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-top: 1rem;
  background-color: rgb(170, 253, 46);
}
.register-submit:hover,
.register-submit:focus,
.login-submit:hover,
.contact-submit:hover {
  color: white;
  border: 0;
}
.prio {
  margin: 0.5rem 0 0.5rem 0;
}

::placeholder {
  color: black;
}
.contact-submit {
  border: 0;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  padding: 0.8rem 0 0.8rem 0;
  background-color: rgb(170, 253, 46);
}
@media (min-width: 60rem) {
  .about-wrapper {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    height: 100vh;
  }
  header {
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(190, 190, 161);
    position: static;
    padding: 1rem;
  }
  nav a {
    padding-bottom: 1.7rem;
  }
  nav li {
    border: 0;
  }
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.4rem;
  }
  nav a:hover {
    border-bottom: 3px solid black;
  }

  main.home-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    /* height: 90vh; */
  }

  .check {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .icon i {
    margin: 0 1rem 0 1rem;
  }
  .new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: start;
  }

  .new h3 {
    padding: 1rem;
  }
  .goal {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }
  aside {
    margin-bottom: 3rem;
  }
  .project-wrapper {
    height: 90vh;
    padding-top: 0;
  }
  .contact-main,
  .register-main,
  .login-main {
    min-width: 600px;
    margin-bottom: 3rem;
  }
  .register-main{
  margin-top: 2px;
  }
  .contact-main{
    margin-top: 4rem;
  }
  .register-main input,
  .register-main select {
    width: 70%;
  }
  .register-submit {
    margin: 0 auto;
    width: 50%;
  }
  .login-wrapper,.contact-wrapper {
    padding-top: 0rem;
    /* height: 100vh; */
    /* height: 100vh;
    flex-direction: column; */
  }
  .register-wrapper{
      padding-top: 0rem;
      /* padding-bottom: 2rem; */
     height: 102vh;
  }
 
  .contact-wrapper h4,
  .register-wrapper h4 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
